<table class="table table-striped">
  <thead>
  <tr>
    <th>Website</th>
    <th>Link</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'shared/links', :collection => @links, as: :link %>
  </tbody>
</table>